// Place all the styles related to the bdd controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box {
  width: 300px;
}

#customer-list {
  width: 900px;
}

.mymsg {
  width: 500px;
}

#customer-form {
  width: 700px;
}

.table.table-user-information td {
  vertical-align: middle;
}

.table.table-user-information input {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}